
footer{
    margin-top: auto;
    width: 100%;
    height: 700px;
    color: #fff;
    background-color: #00c08b;
    display: grid;
    place-items: center;
}

.col1{
    display: flex;
    flex-direction: column;
}

















